<body>
  <nav class="navbar navbar-default" role="navigation">

    <div class="search_index_header">
      <p class ="index-nation"><%= @members.first.nation%></p>
    </div>


    <div class="airbender-container">
      <%= image_tag("avatar.jpg", class: "airbender") %>
    </div>


    <div class="nation-members-display" id="members-display">
      <ul class="members">
        <% @members.each do |member| %>
            <div id = '<%= member.name%>'>
                Name:<br>
                <%= member.name %> <br>
                Allies:<br>
                <% member.allies.each do |ally| %>
                    <%= ally %> <br>
                <% end %>
                Enemies:<br>
                <% member.enemies.each do |enemy| %>
                    <%= enemy %> <br>
                <% end %>
                Affiliations:<br>
                <%= member.affiliations %> <br>
            </div>
        <% end %>
      </ul>
    </div>
    
  </nav>